@forward 'scss/theme';

@use 'scss/mixins/typography';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$breakpoint-desktop: 1280px;
$breakpoint-tablet: 1000px;
$breakpoint-mobile: 700px;



@mixin text-correction($font-family-style, $font-weight, $font-size, $line-height, $letter-spacing) {
    font-style: $font-family-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

body {
    --offset: 144px; // 156 - 12
    --columns: 12;

    --padding-block-min: 0px;

    @media(max-width: $breakpoint-desktop) {
        // 1280px
        --offset: 40px; // 60px
        //--offset: calc(100dvw - 1140px);

        --padding-block-min: 20px;

    }

    @media(max-width: $breakpoint-tablet) {
        // 1000px
        // 1000px
        --offset: 20px; // 60px
        //--offset: calc(100dvw - 1140px);
        --padding-block-min: 40px;
        --column-header-nav: 6/14;
        --column-hero-section-wrapper: 2/11;
        --column-footer-info: 8/14;
        --margin-top-header: 40px //--_grid-column-section-list-content-item-card-img: 6;
            --_height-section-full-logo-content-img: 200px;
        --_width-section-full-logo-content-img: 410px;

    }

    @media(max-width: $breakpoint-mobile) {
        // 700px
        // 700px
        --offset: 20px; // 60px
        //--offset: calc(100dvw - 1140px);
        //--padding-block-min: 40px;
        --column-header-logo: 2/14;
        --justify-content-header-logo: center;
        --column-header-nav: 2/14;

        --column-hero-section-wrapper: 3/13;
        --col-img: 2/14;
        --col-text: 2/14;
        --col-img-right: 2/14;
        --col-text-right: 2/14;
        --_height-section-descr-content-img: 250px;

        --row-gap-section-list-content: 35px;
        --_grid-column-section-list-content-item-img: 12;
        --_grid-column-section-list-content-item: 12;

        --_height-section-full-logo-content-img: 150px;
        --_width-section-full-logo-content-img: 307px;

        --column-footer-info: 7/14;

    }

    display: grid;
    grid-template-columns: var(--offset) repeat(var(--columns), 1fr) var(--offset);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 12px;

    &>* {
        --_column: var(--column, 2/-2);
        grid-column: var(--_column);
        //grid-column: 2/-2;
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: min-content;
    }
}

.section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
}

.header {

    --margin-top-header: 26px;
    position: absolute;
    display: grid;
    grid-template-columns: var(--offset) repeat(var(--columns), 1fr) var(--offset);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 12px;
    //height: 100px;
    width: 100%;
    --column: 1/-1;
    //margin-block: 26px;
    margin-top: var(--margin-top-header, 26px);
    row-gap: 30px;

    &__logo {
        grid-column: var(--column-header-logo, 2/4);
        height: 48px;
        width: 100%;
        display: flex;
        justify-content: var(--justify-content-header-logo, left);
        //align-items: center;
        //flex-direction: column;

        img {
            width: 168px;
            height: 48px;
            cursor: pointer;
        }
    }

    &__nav {
        //cursor: pointer;
        grid-column: var(--column-header-nav, 8/14);
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__item {
            color: var(--md-sys-color-on-primary);
            @include typography.title-large;
            background-color: transparent;
            border: rgba(0, 0, 0, 0);
            transition: 600ms;

            &:hover {
                cursor: pointer;
                border-bottom: 1px solid #fff;
            }
        }

    }
}

.hero-section {
    --column: 2/-2;
    height: 100dvh; // 847px
    background: url('img/hero_img.png');
    background-size: cover;
    background-position: right top;

    &__wrapper {
        height: calc(100dvh - 100px);
        grid-template-columns: subgrid;
        grid-column: var(--column-hero-section-wrapper, 2/8);
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: calc(180px - var(--padding-block-min, 0px));

        //@media(max-width: 1280px) {
        //    padding-block: 160px;
        //}

        &__text {
            display: flex;
            flex-direction: column;
            gap: 16px;
            //text-align: (--text-align-hero-section-wrapper-text,left);
            color: var(--md-sys-color-on-primary);

            h1 {
                @include typography.display-large;
            }

            p {
                @include typography.headline-large;
            }
        }

        &__button {
            cursor: pointer;
            border-radius: 16px;
            //padding-inline: 64px; // 64px
            padding-block: 24px;
            background-color: var(--md-sys-color-primary, #006399);
            box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

            span {
                display: flex;
                justify-content: center;
                color: var(--md-sys-color-on-primary);
                @include typography.display-medium;
                text-align: center;
            }
        }
    }
}

.section-descr {
    --height-section-descr-content-img: var(--_height-section-descr-content-img, 100%);
    --column: 2/-2;
    background-color: var(--md-sys-color-surface, #fff);
    //display: grid;
    //grid-column: 2/-2;

    &__content {
        //--col-img: 10/13;
        //--col-text: 2/8;
        display: grid;
        //display: flex;
        align-items: center;
        grid-template-columns: subgrid;
        grid-column: 1/-1;
        gap: 12px;
        //grid-template-columns: 1fr 1fr;
        //gap: 24px;
        width: 100%;
        margin-block: calc(100px - var(--padding-block-min, 0px));
        max-height: min-content;

        //@media(max-width: 1280px) {
        //    margin-block: 80px; // -20px
        //}

        &__img {
            display: flex;
            //flex-direction: var(--flex-direction-section-descr-content-img, row);
            grid-template-columns: subgrid;
            grid-column: var(--col-img, 2/7); // !

            grid-row: 1/2;
            //--height-section-descr-content-img: 200px;
            //height: var(--height-section-descr-content-img);
            //height: var(--height-section-descr-content-img); 
            //height: 100%;
            width: 100%;
            height: var(--height-section-descr-content-img);
            //height: inherit;
            //height: 200px;
            border-radius: 16px;
            //background-image: url(img/img_1.png);
            background-size: cover;
            background-position: center;
            //img {
            //    border-radius: 16px;
            //    object-fit: cover;
            //    width: 100%;
            //    min-height: min max-content;
            //}
        }

        &__text {
            grid-template-columns: subgrid;
            grid-column: var(--col-text, 8/14);
            //grid-row: 2/3;
            display: flex;
            flex-direction: column;
            gap: 16px;

            h2 {
                color: var(--md-sys-color-primary, #006399);
            }

            p {
                color: var(--md-sys-color-on-surface, #1A1C1E);
            }
        }
    }

    &--right {
        --col-img: var(--col-img-right, 9/14);
        --col-text: var(--col-img-right, 2/8);
    }

    &--img-1 {
        .section-descr__content__img {
            background-image: url(img/img_1.png);
        }
    }

    &--img-2 {
        .section-descr__content__img {
            background-image: url(img/img_2.png);
        }
    }

    &--img-3 {
        .section-descr__content__img {
            background-image: url(img/img_3.png);
        }
    }

    &--img-4 {
        .section-descr__content__img {
            background-image: url(img/img_4.png);
        }
    }

    &--img-6 {
        .section-descr__content__img {
            background-image: url(img/img_6.png);
        }
    }
}

.section-center {
    //height: 200px;
    padding-block: calc(74px - var(--padding-block-min, 0px));

    //@media(max-width: 1280px) {
    //    padding-block: 54px; // -20px
    //}

    width: 100%;
    background: var(--md-sys-color-inverse-surface, #2F3033);
    justify-content: space-between;
    align-items: center;

    &__content {
        grid-column: 2/-2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--md-sys-color-inverse-on-surface, #F0F0F4);
        text-align: center;
        @include typography.display-medium;
        //height: 200px;

        //@media(max-width: 1280px) {
        //height: 180px; // -20px
        //}
    }

}

.section-right-text {
    display: grid;
    grid-column: 1/-1;
    //height: 200px;
    width: 100%;
    background-color: var(--md-sys-color-surface-variant, #DEE3EB);

    &__content {
        grid-column: 6/14;
        margin-block: calc(64px - var(--padding-block-min, 0px));
        color: var(--md-sys-color-on-surface-variant, #42474E);
        @include typography.body-large;

        //@media(max-width: 1280px) {
        //    margin-block: 44px; // -20px
        //}
    }
}

.section-list {

    //--grid-column-section-list-content-item-card-img: var(--_grid-column-section-list-content-item-card-img, 5);

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    //grid-auto-flow: row dense;
    background-color: var(--md-sys-color-secondary-container, #D4E4F6);

    //row-gap: 50px;
    &__content {
        margin-block: calc(100px - var(--padding-block-min, 0px));

        //@media(max-width: 1280px) {
        //    margin-block: 80px; // -20px
        //}

        display: grid;
        grid-template-columns: subgrid;
        grid-column: 2/-2;
        grid-auto-flow: row dense;
        row-gap: var(--row-gap-section-list-content, 50px);

        &__item-card {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: span var(--_grid-column-section-list-content-item, 6);
            grid-row: span 1;
            height: 250px;

            &__img {
                grid-column: span var(--_grid-column-section-list-content-item-img, 5);
                grid-row: span 1;
                border-radius: 16px;
                background-image: url(img/img_5.png);
                background-size: cover;
                background-position: center;
                height: 100%;
            }
        }

        &__item {
            grid-column: span var(--_grid-column-section-list-content-item, 6);
            grid-row: span 1;
            color: #006399;
        }
    }
}

.section-future {
    display: grid;
    justify-content: space-between;
    align-items: center;
    //margin-block: 100px;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    background-color: var(--md-sys-color-primary-container, #CDE5FF);

    &__label {
        grid-column: 2/-2;
        margin-block: calc(100px - var(--padding-block-min, 0px));

        //@media(max-width: 1280px) {
        //    margin-block: 80px; // -20px
        //}

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        color: var(--md-sys-color-on-primary-container, #001D32);

        span {
            @include typography.display-small;
        }

        p {
            @include typography.display-medium;
        }

        h2 {
            @include typography.display-large;
        }
    }
}


.section-participate {
    //display: flex;
    grid-column: 1/-1;
    //width: 100%;
    background-color: var(--md-sys-color-inverse-surface, #2F3033);
    //justify-content: center;
    //align-items: center;

    &__content {
        grid-template-columns: subgrid;
        grid-column: 2/-2;
        display: flex;
        justify-content: center;
        align-items: center;

        &__button {
            cursor: pointer;
            border-radius: 16px;
            margin-block: 50px;

            padding-block: 24px;
            padding-inline: 64px; // 64px
            background: var(--md-sys-color-primary, #006399);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            span {
                justify-content: center;
                align-items: center;
                color: var(--md-sys-color-on-primary, #FFF);
                @include typography.display-medium;
                text-align: center;
            }
        }
    }

}

.section-full-logo {

    --height-section-full-logo-content-img: var(--_height-section-full-logo-content-img, 269px);
    --width-section-full-logo-content-img: var(--_width-section-full-logo-content-img, 552px);

    grid-column: 1/-1;
    width: 100%;
    background-color: var(--md-sys-color-surface, #fff);
    //justify-content: center;
    //align-items: center;
    //padding-bottom: 93px;


    &__content {
        grid-template-columns: subgrid;
        grid-column: 2/-2;
        display: flex;
        justify-content: center;
        align-items: center;

        &__img {
            cursor: pointer;
            margin-block: calc(93px - var(--padding-block-min, 0px));

            //@media(max-width: 1280px) {
            //    margin-block: 73px; // -20px
            //}

            height: var(--height-section-full-logo-content-img);
            width: var(--width-section-full-logo-content-img);
            //min-height: 200px;
            //height: 100%;
            //min-width: calc(200px * 552px / 269px);
            background: var(--md-sys-color-primary, #006399);
            mask-image: url(icons/logo_full.svg);
            //fill: var(#193335);
            background-size: cover;
            mask-size: cover;
            background-position: center;
            mask-position: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

        }
    }


}

.footer {
    grid-column: 1/-1;
    background-color: var(--md-sys-color-inverse-surface, #2F3033);
    display: grid;
    grid-template-columns: subgrid;

    &__info {
        grid-template-columns: subgrid;
        grid-column: var(--column-footer-info, 10/14);
        color: var(--md-sys-color-inverse-on-surface, #F0F0F4);
        margin-block: 45px;
    }
}